{% extends 'layout.twig' %}

{% block title %}
	Erreur 404
{% endblock title %}

{% block content %}

	<p class="text-warning">La page demandée n'a pas pu être trouvée.</p>
	<p><a href="index.php?controller=page&action=show_home">Retour à la page d'accueil.</a></p>

{% endblock content %}