{% extends 'layout.twig' %}

{% block title %}
	Ajouter un billet
{% endblock title %}

{% block content %}
	
	<div class="col-10 mt-4">
		<form method="post" action="index.php?controller=post&action=add">
			<div class="mb-3">
				<label for="title" class="form-label">Titre</label>
				<input type="text" class="form-control" name="title" required/>
			</div>
			<div class="mb-3">
				<label for="post_content" class="form-label">Contenu du billet</label>
				<textarea name="post_content" class="form-control" rows="15" required></textarea>
			</div>
			<input type="hidden" name="token" id="token" value="{{ csrf_token() }}"/>
			<button type="submit" class="btn btn-primary">Envoyer</button>
		</form>
	</div>

{% endblock content %}