{% extends 'layout.twig' %}

{% block title %}
	Connection
{% endblock title %}

{% block content %}
	
	<p>Connectez-vous pour pouvoir commenter les billets de blog.</p>
	
	<div class="col-3 mt-4">
		<form method="post" action="index.php?controller=account&action=connect">
			<div class="mb-3">
				<label for="username" class="form-label">Nom d'utilisateur</label>
				<input type="text" class="form-control" name="username" required/>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Mot de passe</label>
				<input type="password" class="form-control" name="password" required/>
			</div>
			<button type="submit" class="btn btn-primary">Se connecter</button>
		</form>
	</div>

{% endblock content %}