{% extends 'layout.twig' %}

{% block title %}
	Forbidden
{% endblock title %}

{% block content %}

	<p class="text-danger">Accès interdit.</p>
	<p><a href="index.php?controller=page&action=show_home">Retour à la page d'accueil.</a></p>

{% endblock content %}