<!DOCTYPE html>

<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>Bienvenue sur mon blog !</title>
	{% block head %}
	{% endblock head %}
</head>

<body>

<h1>
	{% block title %}
	{% endblock title %}
</h1>

{% if message %}
	<p>{{ message|raw }}</p>
{% endif %}

{% block content %}

{% endblock content %}



{% if session.user_id %}
	Connecté en tant que {{ session.pseudo }} ({{ session.role }})</br>
	<a href="index.php?controller=account&action=disconnect">Se déconnecter</a>
{% else %}
	<a href="index.php?controller=account&action=show_register">Créer un compte</a></br >
	<a href="index.php?controller=account&action=show_connection">Se connecter</a></br>
{% endif %}

<a href="index.php?controller=post&action=index">Blog</a>

</body>
</html>

