{% extends 'layout.twig' %}

{% block title %}
	Plan du site
{% endblock title %}

{% block content %}
	<ul>
		<li class="lpage"><a href="index.php" title="Accueil">Accueil</a></li>
		<li class="lpage"><a href="index.php?controller=post&action=index" title="Blog">Blog</a></li>
		<li class="lpage"><a href="index.php?controller=account&action=show_register" title="Inscription">Inscription</a></li>
		<li class="lpage"><a href="index.php?controller=account&action=show_connection" title="Connection">Connection</a></li>
		<li class="lpage"><a href="index.php?controller=user&action=disconnect" title="Déconnection">Déconnection</a></li>
		<li class="lpage"><a href="index.php?controller=page&action=show_cgu" title="CGU">CGU</a></li>
		<li class="lpage"><a href="index.php?controller=post&action=show&id=1" title="Détails du billet">Détails d'un billet</a></li>
	</ul>
{% endblock content %}