body {
	padding-left: 2%;
	margin-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-top: 70px;
}

h3 {
	font-size: calc(1.2rem + 0.2vw);
}

h4 {
	font-size: calc(0.9rem + 0.1vw);
}

p {
	text-align: justify;
}

hr {
	color: black;
	opacity: 60%;
	height: 2px !important;
}

.navbar {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.nav-link {
	color: aliceblue;
}

.card-body ul,
#social ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#social li {
	margin-bottom: 20px;
}

.inline {
	display: inline;
}

footer {
	border-top: 1px solid gray;
}

footer a:link {
	text-decoration: none;
}

#header {
	max-width: 100%;
	border-radius: 5px;
}

#linkedin {
	color: #0082ca;
}

#github {
	color: #333;
}

#menu {
	margin-left: 2% !important;
	margin-right: 2% !important;
}
